# Site settings
title: Braintree Document Theme
description: Basic theme for documentation
baseurl: "/Braintree_Document_Theme"
url: "https://braintree-by-vox.github.io"

# Theme settings
theme: jekyll-theme-cayman
remote_theme: pages-themes/cayman@v0.2.0

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-remote-theme

# Collections
collections:
  docs:
    output: true
    permalink: /:collection/:name

# Defaults
defaults:
  - scope:
      path: ""
      type: "docs"
    values:
      layout: "default"
  - scope:
      path: ""
    values:
      layout: "default"

# Navigation
navigation:
  - title: Home
    url: /
  - title: Getting Started
    url: /docs/getting-started
  - title: Documentation
    url: /docs/
